@{
    ViewData["Title"] = "Manage";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table class="table  table-bordered mt-5 text-center table-striped table-hover">
        <thead class="table table-black">
            <tr>
                <td>Id</td>
                <td>Cedula</td>
                <td>Names</td>
                <td>LastNames</td>
                <td>PhotoProfile</td>
                <td>Phone</td>
                <td>Email</td>
                <td>Password</td>
                <td>LoginAt</td>
                <td>LogOffAt</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var Admin in Model)
            {
                <tr>
                    <td>@Admin.Id</td>
                    <td>@Admin.Cedula</td>
                    <td>@Admin.Names</td>
                    <td>@Admin.LastNames</td>
                    <td>@Admin.PhotoProfile</td>
                    <td>@Admin.Phone</td>
                    <td>@Admin.Email</td>
                    <td>@Admin.Password</td>
                    <td>@Admin.LoginAt</td>
                    <td>@Admin.LogOffAt</td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@Admin.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>

</html>